.checkout.sticky {
    margin-top: 116px;
}

.form-wrapper {
    margin-top: 100px;
}

.checkout-title {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e3e9ef !important;

    font-weight: 700;
    font-size: 1.8rem;

    color: var(--secondary-color);
}

.form-group label {
    display: inline-block;
    margin-bottom: 8px;

    font-size: 1.4rem;
    font-weight: 600;

    color: var(--secondary-color);
}

select.form-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23373f50' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-footer {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-footer button,
.form-footer a {
    width: 48%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 20px;
}

.form-footer a {
    border-color: #e3e9ef;
    background-color: #f3f5f9;
    color: #4b566b !important;
}

.form-footer a:hover {
    color: #4b566b !important;
    border-color: transparent;
    background-color: #d1d9e8;
}

.order-summary {
    margin-bottom: 60px;
}

.order-number,
.order-note.c,
.order-summary-product {
    border-bottom: 1px solid #e3e9ef !important;
}

.order-summary-list-name {
    height: 18px;
    line-height: 18px;
}

.order-summary-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.order-summary-money {
    font-size: 1.2rem;
    color: var(--text-color);
    min-height: 18px;
    line-height: 18px;
}

.order-summary-money .price {
    color: var(--third-color);
    font-weight: 600;
}

.order-number,
.order-note.c {
    padding: 16px 0;
}

.order-note.c label {
    margin-bottom: 16px;
}

.order-number-li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.order-number-li + .order-number-li {
    margin-top: 16px;
}

#order-total-money {
    margin: 24px 0;

    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;

    color: var(--secondary-color);
}

.order-coupon-submit {
    width: 100%;
    margin-top: 16px;
    padding: 10px 24px;

    text-align: center;

    border-color: rgba(254,105,106,.35);
    background-color: transparent;
    color: var(--primary-color);

    font-size: 1.6rem;
}

.order-coupon-submit:hover {
    color: var(--white-color);
}

.order-coupon-error {
    display: none;
    margin-top: 8px;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.order-coupon-error.active {
    display: inline-block;
}

.form-control.error-coupon {
    border-color: #f34770;
    padding-right: calc(1.5em + 1.25rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none' stroke='%23f34770' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3e%3ccircle cx='6' cy='6' r='5'%3e%3c/circle%3e%3cline x1='8' y1='4' x2='4' y2='8'%3e%3c/line%3e%3cline x1='4' y1='4' x2='8' y2='8'%3e%3c/line%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.3125rem) center;
    background-size: calc(0.75em + 0.625rem) calc(0.75em + 0.625rem);
}