/* PC medium resolution > */
<<<<<<< Updated upstream
@media (min-width: 1113px) {}
=======
@media (min-width: 1113px) {

    .account-body-list-link.mobile,
    .form-footer.pc {
        display: none;
    }
}
>>>>>>> Stashed changes

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {}

/* MOBILE & TABLET */

@media (max-width: 1023px) {

    /* Header */


    /* header */
    /* Footer */


    /* Footer */
}

/* Tablet */

@media (min-width: 740px) and (max-width:1023px) {

<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
    /* Common */
    .sm--hide {
        display: none;
    }

    /* Common */
    /* Header */

    .topbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-width {
        min-width: 60%;
    }

    .expand {
        display: block !important;
    }

    /* Header */

    /* Footer */

    .footer__services {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 48px;
        padding: 0 15px;
    }

    .footer__services-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer__services-icon {
        font-size: 3.6rem;
    }

    .footer__services-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer__box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 48px;
    }

    .box-1 {
        justify-content: center;
    }

    .footer__list-row {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pay-icon-bar {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }

    /* Footer */
}

/* MOBILE */

@media (max-width: 740px) {
<<<<<<< Updated upstream
=======
    .ml-8 {
        margin-left: 8px;
    }

    .mr-8 {
        margin-right: 8px;
    }
>>>>>>> Stashed changes

    /* Common */
    .sm--hide {
        display: none;
    }

    /* Common */
<<<<<<< Updated upstream
=======
    .profile-page.sticky, .order-page.sticky, .wishlist-page.sticky,
    .sign.sticky,
    .checkout.sticky,
    .cart-page.sticky,
    .product.sticky,
    .category.sticky,
    .slide.sticky {
        margin-top: 66px;
    }

    .sign-up {
        margin-top: 24px;
    }

    .no-cart-wrapper {
        padding-bottom: unset;
    }

    .no-cart-wrapper h3 {
        font-size: 2rem;
        margin-top: 32px;
    }

    .account-sign-out {
        position: unset;

    }

    .account-orders {
        margin: 20px 12px 0 12px;
    }
>>>>>>> Stashed changes


    /* Header */
    .topbar-wrapper {
        display: none;
    }

    .expand {
        display: block !important;
    }

    .navbar-box {
        width: 100%;
    }

    .navbar-control {
        padding: 20px 0 16px 20px;
    }

    /* .toolbar{

    } */
    .navbar-menu {
        display: block;
    }

    .navbar-menu-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 0;
    }

    .navbar-menu-item {
        width: 100%;
    }

    .navbar-menu-item+.navbar-menu-item {
        margin: 0;
    }

    .navbar-menu-link {
        display: block;
<<<<<<< Updated upstream
        padding: 10px 20px;
=======
    }

    .navbar-menu-item+.navbar-menu-item {
        margin-left: unset;
    }

    .slider-mobile {
        flex-direction: column-reverse;
    }

    .slide-img img {
        width: 100% !important;
    }

    .slide-content {
        text-align: center;
        padding: 16px 8px;
    }

    .slide-sub-title {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .slide-title {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .block-category {
        position: unset;
        margin-top: unset;
    }

    .slide-desc {
        margin-bottom: unset;
        line-height: 2.4rem;
    }

    .banner-ads-text,
    .banner-ads-img {
        margin: 0 16px;
    }

    .banner-ads-img__content {
        padding: 20px;
        text-align: center;
    }

    .banner-ads-img__content h2 {
        margin-bottom: 16px;
        font-size: 2.6rem;
    }

    .banner-ads-img__content h3 {
        font-size: 1.6rem;
    }

    .banner-ads-text {
        margin-top: 16px;
        padding: 20px;
    }

    .home-hoodie-slide,
    .home-hoodie-thumbnail {
        margin: 0 16px;
    }

    .hoodie-thumbnail-header {
        padding: 20px;
    }

    .home-hoodie-item {
        margin-bottom: 8px;
    }

    .products-heart.hoodie {
        top: 4px;
        right: 4px;
    }
>>>>>>> Stashed changes

    }

    .search-width {
        display: none;
    }

    .navbar-submenu-list {
        width: 100%;
    }

<<<<<<< Updated upstream
=======
    .page-body {
        padding-bottom: 48px;
    }

    .order-number-li {
        font-size: 1.4rem;
    }

    .form-footer {
        margin-top: 16px;
        margin-bottom: unset;
    }

    .form-footer button,
    .form-footer a {
        padding: 8px 12px;
        font-size: 1.6rem;
    }

    .order-summary {
        margin-bottom: unset;
    }

>>>>>>> Stashed changes
    /* Header */
    /* Blog */
    .flex-auto-9 {
        width: 100% !important;
    }

    .blog-list {
        flex-wrap: wrap;
    }

    .blog-start-column {
        padding-right: 0px !important;
    }

    .blog-end-column {
        padding-left: 0px !important;
    }

    .pagination-menu {
        display: none !important;
    }

    /* Blog */

    /* Footer */

    .footer__services {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        padding: 0 15px;
    }

    .footer__services-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer__services-icon {
        font-size: 3.6rem;
    }

    .footer__services-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer__box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 48px;
    }

    .box-1 {
        justify-content: center;
    }

    .footer__list-row {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pay-icon-bar {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }

    /* Footer */
    /* Page not Found */
    .sm--center {
        justify-content: center;
    }

    .card-body {
        width: 300px;
    }

    /* Page not Found */

}