/* PC medium resolution > */
@media (min-width: 1113px) {}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {}

/* MOBILE & TABLET */

@media (max-width: 1023px) {

    /* Header */


    /* header */
    /* Footer */


    /* Footer */
}

/* Tablet */

@media (min-width: 740px) and (max-width:1023px) {

    /* Common */
    .sm--hide {
        display: none;
    }

    /* Common */
    /* Header */

    .topbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-width {
        min-width: 60%;
    }


    /* Header */

    /* Footer */

    .footer__services {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 48px;
        padding: 0 15px;
    }

    .footer__services-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer__services-icon {
        font-size: 3.6rem;
    }

    .footer__services-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer__box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 48px;
    }

    .box-1 {
        justify-content: center;
    }

    .footer__list-row {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pay-icon-bar {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }

    /* Footer */
}

/* MOBILE */

@media (max-width: 740px) {

    /* Common */
    .sm--hide {
        display: none;
    }

    /* Common */


    /* Header */
    .topbar-wrapper {
        display: none;
    }

    /* Header */
    /* Footer */

    .footer__services {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        padding: 0 15px;
    }

    .footer__services-item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .footer__services-icon {
        font-size: 3.6rem;
    }

    .footer__services-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer__box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 15px;
        margin-bottom: 48px;
    }

    .box-1 {
        justify-content: center;
    }

    .footer__list-row {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pay-icon-bar {
        justify-content: center;
    }

    .copyright {
        text-align: center;
    }

    .navbar-control {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 12px;
    }

    .navbar-menu-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px 0;
    }

    .navbar-menu-item {
        text-align: center;
    }

    .search-width {
        display: none;
    }

    /* Footer */
    /* Page not Found */
    .sm--center {
        justify-content: center;
    }

    .card-body {
        width: 300px;
    }

    /* Page not Found */

}